.section-full-height {
    display: flex;
    align-items: center;
    height: 700px;
}
.full-screen-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-subtext {
    margin-bottom: 24px;
    text-align: center;
}
.forgot-password-card {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 24px;
}
.forgot-password-card > h1 {
    text-align: center;
}
.reset-btn-full {
    width: 100%;
}
.no-shadow:hover {
    box-shadow: none;
    transform: none;
    translate: none;
}
.hide-forgot-password {
    display: none;
}
@media screen and (max-width: 480px) {
    .section-full-height {
        height: 600px;
    }
    .reset-subtext {
        margin-bottom: 12px;
    }
}