.edit-image {
    position: relative;
}
.edit-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}
.set-icon {
    position: absolute;
    left: 59px;
    bottom: 0px;
}
.hide-profile-image {
    display: none;
}