.container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1248px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}
@media screen and (max-width: 480px) {
    .container {
        padding-right: 12px;
        padding-left: 12px;
    }
}