.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
}
.card {
    transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transform: translate(0px, -12px);
    text-decoration: none;
}