.list {
    display: flex;
    gap: 0px 30px;
    list-style-type: none;
}
.list a {
    color: #222222;
}
.list a:hover,
.list a.active {
    color: #068466;
}
.login-dropdown-block {
    position: relative;
}
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 12px 0px;
        width: 100%;
    }
}