.tags-parent-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 15px;
    width: 100%;
}
.tags-parent-block {
    padding: 30px 0px;
}
.tags-parent-name {
    padding-right: 15px;
}
.tags-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 10px;
    width: 100%;
}
.tags-parent a {
    list-style-type: none;
}
.post-actions {
    padding: 30px 0px;
}
.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    width: 100%;
}
.post-edit-button, .post-delete-button {
    font-size: 16px;
    padding: 8px 32px;
    text-align: center;
}
.post-delete-button {
    background-color: #c4221e;
    border-color: #c4221e;;
}
.add-tags-line {
    border-bottom: 1px solid #ECEBEA;
}

@media screen and (max-width: 768px) {
    .tags-parent-block {
        flex-wrap: wrap;
        gap: 15px 0px;
    }
    .tags-parent {
        flex-wrap: wrap;
        gap: 15px 15px;
    }
}