.badge {
    padding: 6px 16px;
    border-radius: 100px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #068466;
    cursor: pointer;
    background-color: #e1ece6;
    width: fit-content;
}
.badge:hover {
    cursor: pointer;
    background-color: #cce7e0;
}