.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    color: #068466;
    background-color: rgba(0,0,0,0.5);
}
.prev:hover,
.next:hover {
    color: #FC9F5B;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in;
}
.next {
    right: 0px;
    border-radius: 5px 0px 0px 5px;
}
@media screen and (max-width: 480px) {
    .prev, .next {
        display: none;
    }
}